In [1]:
import requests
from lxml import html
import pandas as pd
import json
import md5
import httplib, httplib2
import numpy as np

/Users/jackdwyer/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: DeprecationWarning: the md5 module is deprecated; use hashlib instead

# In addition to an Authorization header, requests to the Connect API should
# include the indicated Accept and Content-Type headers.

# Send a GET request to the ListLocations endpoint and obtain the response.
connection = httplib.HTTPSConnection('http://soundcloud.com/jack-dwyer-9')
request_path = '/followers'
connection.request('GET', request_path, '', request_headers)
response = connection.getresponse()

In [11]:
artists = ['darien-fields','johnfhennessy', 'niteppl']
master_df = pd.DataFrame({})

for artist in artists:
    start_urls = 'https://soundcloud.com/%s' % artist
    CLIENT_ID='5de9fa406c6bd4d7076fe0678c95d9be'


    url = 'http://api.soundcloud.com/resolve'
    response = requests.get(url, params = {'url':start_urls, 'client_id':CLIENT_ID}).json()



    ident = str(response['id'])
    url2 = 'http://api.soundcloud.com/users/%s/followers' % ident
    response2 = requests.get(url2, params = {'client_id':CLIENT_ID}).json()

    next_href = response2.get('next_href',None)


    follow_list = []
    while next_href is not None:
        follow_list.extend(response2['collection'])
        response2 = requests.get(next_href).json()
        next_href = response2.get('next_href', None)

#store 10000 entries, then save, then do again and append
#2 files, user info and user followers (timestamped) all in one over arching artist file


    with open('follow_%s.json' %artist, 'a') as f:
        f.write(json.dumps(follow_list))
        f.write('\n')
    
    id_list = []
    for info in follow_list:
        id_list.append(info['id'])
        
    df = pd.DataFrame({'id':id_list, artist:artist})
    if len(master_df) == 0:
        master_df = df
    else:
        master_df = master_df.merge(df, how = 'outer', on = 'id')
        
#master_df = master_df.set_index('id')
        
#with open('/path/to/my_file.json', 'w') as f:
    #json.dump(data, f)

user_list = []
for i,follower in enumerate(response2['collection']):
    user_list.append(follower)

user_list

num_followers = response.followers_count # Number of reviews you want
page_order = range(0, (num_followers+1), 50)
mod_reviews = []
for ur in start_urls:
    for o in page_order:
        page = requests.get(ur + ("?start=%s" % o))
        tree = html.fromstring(page.text)
        yp_reviews = tree.xpath('//p[@itemprop="description"]/text()')
        for rev in yp_reviews:
            mod_rev = filter(lambda x: x in string.printable, rev)
            mod_rev = mod_rev.lower()
            mod_reviews.append(mod_rev)

followers = client.get('/darien-fields/followers')
print followers
for user in followers:
    print " "
    print user.id
    print user.username


followers = client.get('me/followers')#.collection
for user in followers:
    print(user.obj['username'],user.obj['id'])

In [12]:
master_df = master_df.set_index('id')
newdf = master_df.notnull().astype('int')

In [13]:
newdf

           darien-fields  johnfhennessy  niteppl
id
3593920                1              0        0
330028499              1              0        0
56371989               1              0        0
54411792               1              0        0
276920773              1              0        0
217909413              1              0        0
176684406              1              0        0
330400802              1              0        0
230098474              1              0        0
332228992              1              0        0
331862882              1              0        0
68374777               1              0        0
226210662              1              0        0
284324126              1              0        0
160466587              1              0        0
256406198              1              0        0
167077868              1              0        0
249101628              1              0        0
233242138              1              0        0
153169865              1              0        0
277649558              1              0        0
320202321              1              0        0
26556014               1              0        0
234633120              1              0        0
135407422              1              0        0
313316391              1              0        0
187766020              1              0        0
118284992              1              0        0
305813616              1              0        0
275472226              1              0        0
...                  ...            ...      ...
2988816                0              0        1
3353281                0              0        1
1695658                0              0        1
372276                 0              0        1
2358789                0              0        1
218406                 0              0        1
997674                 0              0        1
714274                 0              0        1
533094                 0              0        1
1565923                0              0        1
928104                 0              0        1
2542139                0              0        1
723356                 0              0        1
1412009                0              0        1
365889                 0              0        1
928283                 0              0        1
1867090                0              0        1
1004051                0              0        1
521533                 0              0        1
759224                 0              0        1
455419                 0              0        1
2389854                0              0        1
452206                 0              0        1
655983                 0              0        1
947130                 0              0        1
1225655                0              0        1
1987547                0              0        1
2258910                0              0        1
2833943                0              0        1
3299851                0              0        1

[8548 rows x 3 columns]